*{
    margin: 0px;
    padding: 0px;
}
#body{
    width: 100%;
    height: 631px;
    overflow: hidden;
    background-color: #ededed;
    color: #555555;
}
#head{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #e3e3e3;
}
#head p{
    position: relative;
    left: 300px;
    top: 30px;
    color: #00b38a;
    font-size: 30px;

}
.head_right{
    width: 200px;
    height: 100px;
    float: left;
    color: #00b38a;
}
.head_right b{
    font-size: 25px;
    border:1px solid #08d7a2;
    border-radius:50%;
    position: relative;
    left: 20px;
    top: 30px;
}
#content_left{
    width: 200px;
    height: 463px;
    float: left;
    background-color:white;
    border-radius: 3px;
    text-align:center;
}
#content_left ul li{
    height: 30px;
    border-bottom: 1px solid #e3e3e3;
    list-style: none;
    border-radius: 3px;
}
.left_list{
    background-color: #08d7a2;
    color: white;
}
.currentli{
    color: white;
    background-color:#08d7a2;
}
#content_right{
    width: 1149px;
    height: 530px;
    float: left;
}
#content_right_top{
    height: 30px;
    width: 100%;
    color: #08d7a2;
    background-color: #e3e3e3;
}
#content_right_top ul li{
    list-style: none;
    float: left;
    margin-right: 10px;
}
.space{
    color: #d2d2d2;
}
#content_right_cen{
    width: 1149px;
}
#company,#user,#new_info{
    height: 430px;
    position: absolute;
    left: 250px;
    top:170px;
}
#company{
    width: 1090px;
    display: none;
}
.li_head li{
    background-color: #08d7a2;
    color: white;
    text-align: center;
}
#company ul li{
    float: left;
    list-style: none;
    border: 1px solid #e3e3e3;
    width: 85px;
    height: 30px;
    overflow:hidden
}
.li_body1 li{
    background-color: white;
}
#company button,#user button,#new_info button{
    border: none;
    width: 40px;
    height: 25px;
    margin-left: 22px;
    margin-top: 2px;
    border-radius: 3px;
    color: #555555;
}
.update{
    background-color: #08d7a2;
}
.delete{
    background-color: gold;
}
#user{
    width: 1000px;
    display: none;
}
#user ul li{
    list-style: none;
    float: left;
    border: 1px solid #e3e3e3;
    width: 85px;
    height: 30px;
    overflow: hidden;

}
#new_info{
    width: 720px;
    display: none;
}
#new_info ul li{
    list-style: none;
    float: left;
    border: 1px solid #e3e3e3;
    width: 100px;
    height: 30px;
    overflow: hidden;
}
#content_right_bu{
    width:1000px;
    height: 30px;
    position: absolute;
    top: 550px;
    left: 250px;
}
#content_right_bu button{
    border: none;
    width: 60px;
    height: 30px;
    background-color: #08d7a2;
    border-radius: 3px;
    color: #555555;
}
#fenye{
    width: 150px;
    height: 30px;
    position: relative;
    left: 400px;
    top: -30px;
}